@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  --swiper-navigation-size: 44px;
  --swiper-navigation-top-offset: 96%;
  --swiper-navigation-sides-offset: 48%;
  --swiper-navigation-color: #eaa636;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 20;
}

@media (max-width: 768px) {
  .swiper {
    --swiper-navigation-sides-offset: 42%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .swiper {
    --swiper-navigation-sides-offset: 46%;
    --swiper-navigation-top-offset: 94%;
  }
}

@media (min-width: 1025px) and (max-width: 1536px) {
  .swiper {
    --swiper-navigation-sides-offset: 47%;
  }
}
